.contact-main {
  /* height: 85vh; */
}
h1 {
  text-align: center;
  color: var(--color-light-purple);
  text-shadow: 1px 1px 0 white;
  padding-top: 4rem;
}

form {
  max-width: 600px;
  text-align: center;
  margin: 4rem auto;
  padding-bottom: 4rem;
}
form input, form textarea, form button {
  border: 0;
  outline: 0;
  padding: .5em;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 1em;
  font-family: 'Merriweather', sans-serif;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}
form input:focus, form textarea:focus {
  -moz-box-shadow: 0 0px 2px var(--color-light-purple) !important;
  -webkit-box-shadow: 0 0px 2px var(--color-light-purple) !important;
  box-shadow: 0 0px 2px var(--color-light-purple) !important;
}
form #input-submit {
  color: var(--color-purple);
  background: var(--color-light-purple);
  font-weight: 600;
  font-size: 1rem;
  padding: .2rem;
  cursor: pointer;
  transition: .3s;
}
form #input-submit:hover {
  -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}
form textarea {
  height: 89px;
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right {
  width: 50%;
}

.left {
  margin-right: 2%;
}

@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}
/* Clearfix */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}
