@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

:root {
  --color-dark-purple: #3b163d;
  --color-light-purple: #c77dff;
  --color-purple: #4D1F4F;
  --color-white: #e0e0e0;
  --color-yellow: rgb(255, 183, 3);
  font-size: 16px;
}

.lang-switcher{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 0.25rem;
  cursor: pointer;
  background: #7d6506;
  color: #fff;
  border: none;
  font-size: .95rem;
  border-bottom-right-radius: 10px;
}

.img-container{
  overflow: hidden;
  width: 300px;height: 170px;
  border: 3px solid var(--color-light-purple);
  margin-bottom: 5px;
  border-radius: 10px;  
}


:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);  
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

body{
  font-family: 'Nunito', sans-serif;
}

ul{
  list-style: none;
}


.contant{
  background-color: #f5f6fa;
}

.container{
  width: 90%;
  margin: auto;
}

.linkStyle{
  display: block;
  color: var(--color-white);
  text-decoration: none;
  padding: 10px 15px;
  font-weight: bold;
}
.linkStyle:hover{
  color: var(--color-yellow)
}


.arabic{
  /* font-size:.7rem; */
}

